<header>
    <div class="menu_navegacion">
        <div class="contenedor">
            <div class="logo">
                <a href="/index.html">
                    <img src="/Logo.png" alt="Casa Alvarado Logo">
                    <span>Casa Alvarado</span>
                </a>
            </div>

            <nav>
                <div id="megaMenu" class="mega-menu hidden">
                    <div id="categorias" class="categorias"></div>
                    <div id="subcategorias" class="subcategorias">
                        <h2 id="tituloCategoria">Selecciona una categoría</h2>
                        <div id="gridSubcategorias" class="grid-subcategorias"></div>
                    </div>
                </div>
                
                <ul>
                    <li><a href="/index.html">Inicio</a></li>
                    <li><a href="#" id="btnProductos">Nuestros Productos</a></li>
                    <li><a href="/PAGINAS/contacto.html">Contacto</a></li>
                    <li id="authNavItem">
                        <a href="/PAGINAS/login.html" id="authLink">INICIAR SESION</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>