<header>
    <div class="menu_navegacion">
        <div class="contenedor">
            <div class="header-left">
                <div class="logo">
                    <a href="/">
                        <img src="/Logo.png" alt="Casa Alvarado Logo">
                        <span>Casa Alvarado</span>
                    </a>
                </div>

                <button class="hamburguesa-btn" id="hamburguesaBtn">
                    <i class="fas fa-bars"></i>
                </button>
            </div>

            <nav id="navMenu">
                <div id="megaMenu" class="mega-menu hidden">
                    <div id="categorias" class="categorias"></div>
                    <div id="subcategorias" class="subcategorias">
                        <h2 id="tituloFamilia">Selecciona una categoría</h2>
                        <div id="gridcategorias" class="grid-subcategorias"></div>
                    </div>
                </div>
                
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="#" id="btnProductos">Nuestros Productos</a></li>
                    <li><a href="/Paginas/contacto.html">Contacto</a></li>
                    <li id="authNavItem">
                        <a href="/Paginas/login.html" id="authLink">INICIAR SESION</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>